<div class="container">
    <h1>Contact</h1>

    <ul class="contact-info">
        <li>Email: <a href="sitkowski.grzegorz8@gmail.com">sitkowski.grzegorz8@gmail.com</a></li>
        <li>Mobile: +48 516 704 557</li>
        <li>Linkedin: <a href="https://www.linkedin.com/in/grzegorz-sitkowski-843b4015b/">https://www.linkedin.com/in/grzegorz-sitkowski-843b4015b/</a></li>
        <li>Github: <a href="https://github.com/GrzegorzSitkowski">https://github.com/GrzegorzSitkowski</a></li>  
    </ul>
</div>
